{% extends 'base.html'%}

{% block content%}
    <div class="row text-center vertical-middle-sm">
        <h1>{{ article.title }}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <p class="text-center">
                <span style="margin-right:20px">{{ article.author.username}}</span>
                <span>{{ article.publish }}</span>
            </p>
            <div>
                {{ article.body }}
            </div>
        </div>
    </div>
{% endblock %}